body {
  background-color: greenyellow;
}
.game-container {
  /* background-image: url("images/room2.png"); */
  /* background-size: contain; */
  background-color: skyblue;
  max-width: 1000px;
  min-height: 1000px;
}
.score-container {
  /* background-image: url("images/room2.png"); */
  /* background-size: contain; */
  position: absolute;
  width: 500px;
  right: 0px;
  top: 0px;
  background-color: greenyellow;
  height: 100%;

  float: right;
}
.container {
  display: flex;
  flex-direction: column;
}
.separator {
  height: 1px;
  width: 1000px;
  background-color: blue;
  position: absolute;
  bottom: 200px;
}
